# **Pandas**

Pandas is a python library that is used to analyze data.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving headbrain.csv to headbrain.csv

In [ ]:
df = pd.read_csv("headbrain.csv")

df.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [ ]:
df.tail()

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

In [ ]:
df.shape

(237, 4)

In [ ]:
#Describing our dataset
data.describe()

# **What is a Series?**
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [ ]:
a = [1, 7, 2,1,42,"asda",12.32]

myvar = pd.Series(a)

print(myvar)

0        1
1        7
2        2
3        1
4       42
5     asda
6    12.32
dtype: object

In [ ]:
a = [1, 7, 2,4]

myvar = pd.Series(a, index = ["x", "y", "z","w"])

print(myvar)

x    1
y    7
z    2
w    4
dtype: int64

In [ ]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

Tip: use to_string() to print the entire DataFrame.

If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows:

# **Read JSON**
Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In our examples we will be using a JSON file called 'data.json'.

In [ ]:
import pandas as pd

df = pd.read_json('data.json')

print(df.to_string())

# **Viewing the data**

head 
tail

In [ ]:
print(df.info())

# **Data Cleaning**
Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells
Data in wrong format
Wrong data
Duplicates

In [ ]:
#Finding  number of Nan or missing values in all columns
print(data.isna().sum(axis = 0))

# data.isna().sum(axis = 0)   # Nan values in every column
# data.isna().sum(axis = 1)   # Nan values in every row.

In [ ]:
#Dropping Rows with Nan in all provided columns
data = data.dropna(subset=["sex","pclass","survived"])

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

new_df = df.dropna()

print(new_df.to_string())

By default, the dropna() method returns a new DataFrame, and will not change the original.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df.dropna(inplace = True)

print(df.to_string())

Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containg NULL values from the original DataFrame.

# **Replace Empty Values**
Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df.fillna(130, inplace = True)

# **Replace Only For Specified Columns**
The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df["Calories"].fillna(130, inplace = True)

# **Discovering Duplicates**
Duplicate rows are rows that have been registered more than one time.

In [ ]:
print(df.duplicated())

# **Removing Duplicates**
To remove duplicates, use the drop_duplicates() method.

In [ ]:
df.drop_duplicates(inplace = True)

The (inplace = True) will make sure that the method does NOT return a new DataFrame, but it will remove all duplicates from the original DataFrame.

# **Correlation**

Finding Relationships
A great aspect of the Pandas module is the corr() method.

The corr() method calculates the relationship between each column in your data set.

The examples in this page uses a CSV file called: 'data.csv'.

In [ ]:
df.corr()

The corr() method ignores "not numeric" columns.

Result Explained
The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.

The number varies from -1 to 1.

1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.

0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.

-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.

0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

Perfect Correlation:
We can see that "Duration" and "Duration" got the number 1.000000, which makes sense, each column always has a perfect relationship with itself.

Good Correlation:
"Duration" and "Calories" got a 0.922721 correlation, which is a very good correlation, and we can predict that the longer you work out, the more calories you burn, and the other way around: if you burned a lot of calories, you probably had a long work out.

Bad Correlation:
"Duration" and "Maxpulse" got a 0.009403 correlation, which is a very bad correlation, meaning that we can not predict the max pulse by just looking at the duration of the work out, and vice versa.

# **Some more functions**

In [ ]:

adult_df.relationship.unique()

# array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
#        'Other-relative'], dtype=object)

Return a Series containing counts of unique values

In [ ]:

adult_df.relationship.value_counts()

Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

In [ ]:
# Selecting columns from a dataset

df = df[["pclass","sex","age","survived"]]